body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("ImageFiles/VRBackgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat; /*Ensure that the background image does NOT duplicate itself several times*/
}

body:after { /*Set up an overlay to make the background seem darker*/
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: -1; /* Place the overlay behind other elements */
}

header {
    display: flex;
    justify-content: space-evenly; /*Tried to space out the Logo and the 4 hyperlinks which was probably one of the few annoying parts*/
    background-color: rgba(255, 255, 255, 0.6); /* Translucent white background */
    align-items: center;
    color: black;
    position: fixed;
    width: 100%; /*Ensuring the background color of the header stretches out to the right side of the page*/
}

header a img {
    width: 215px;
    height: auto;
}

section{
    padding: 115px 25px;
    text-align: center;
    color: white;
}

#contact{
    display: flex;
    padding: 115px 250px; /*115 200*/
    justify-content: flex-start;
    text-align: center;
    color: white;
    font-size: 25px;
}


.latestproductshowcase {
    display: flex;
    align-items: center;
}

.latestproductshowcase img{
    width: 500px;
    margin-top: -200px;
    height: auto;
    border-radius:5px;
}

.latestproductdesc{
    margin-top: -650px;
    margin-left: 10px;
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    
}

.game{
    margin: 8.5px;
    text-align: center;
    font-weight: bold;
    overflow-wrap: break-word;
}

.game img{
    width: 450px;
    height: auto;
    border: 10px solid white;
    border-radius: 25px;
    transition: transform 0.3s;
}

.game img:hover{
    transform: scale(1.1);
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(150, 150, 150, 0.6); /* Translucent background */
    border-radius: 25px;
    font-weight: bold;
}

.team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
}

.team-member{
    margin: 8.5px;
    text-align: center;
    font-weight: bold;
    overflow-wrap: break-word;
}

.team-member img{
    width: 125px;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.team-member img:hover{
    transform: scale(1.1);
}

.contact-and-faq{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.contact-elements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    margin-left: -200px;
}

.contact-elements button{
    border-radius: 5px;
    background-color:aquamarine;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.faq-list{
    text-align: left;
}

.buy-now-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    background-color: lightseagreen;
    border-radius: 20px;
    transition: transform 0.3s;
}

.buy-now-button:hover{
    transform: scale(1.1);
}
.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-left: 45px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-left: 35px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0; /*Footer to be situated at the bottom*/
    width: 100%; /*Footer background colour to be stretched out to the right side of the page as well*/
}

